{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
        <title>MEGASPORTSUPPLEMENT</title>
    
    
        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets/css/templatemo-hexashop.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
    
        
        
</head>
<body>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="{% static 'assets\image\MEGA logo.png' %}" alt="logo">
                        </div>
                        <ul>
                            <li><a href="#">110 N Federal Hwy, Unit 805 |  Ft Lauderdale,<br>Fl 33301</a>  
                                </li>
                            <li><a href="#">++1 (561) 342 1264</a> </li>
                            <li><a href="#">sales@megasportssupplement.com</a> </li>
                        </ul>
                    </div>
                </div>
               
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2023 MEGASPORTSUPPLEMENT. All Rights Reserved. 
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </body>
    </html>
    


    
</body>
</html>